.employee_add {
    display: flex;
    width: 100%;
    padding: 0.5rem 1rem 1rem 1rem;
    justify-content: flex-start;
    align-items: center;
}
.employee_add_parent {
    background-color: white;
    margin: 1rem;
    display: flex;
    padding: 1rem 1rem 1rem 1rem;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.employee_add_title {
    font-size: 1rem;
    margin-top: 1rem;
    font-weight: 600;
    color: black;
}
.employee_add_parent_row {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 1.5rem;
    width: 100%;
}
.employee_add_parent_row_footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 1rem;
}
.employee_add_parent_col {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
}
.employee_add_parent_col_button_two {
    display: flex;
    justify-content: center;
    padding-bottom: 1rem;
    margin-bottom: 1rem;
    align-items: center;
    width: 100%;
}
.employee_add_parent_col_button {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
}
.employee_add_parent_col_row_child {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.date {
    width: 100%;
}
.upload_icon {
    width: 100%;
}
.pos {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    flex-direction: column;
}
.pos_top {
    display: flex;
    margin-bottom: 1rem;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
}
.employee_add_parent_row_bottom {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.employee_add_parent_col_bottom {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
}
.employee_add_parent_col_row_child_bottom {
    display: flex;
    justify-content: flex-start;
    margin-top: 1rem;
    align-items: center;
    width: 100%;
}
.pos_top_title {
    width: 50%;
    font-size: 0.75rem;
}
.employee_add_parent_col_row_child_account {
    margin-top: 1rem;
    font-size: 0.75rem;
    font-weight: 600;
    color: black;
}
.employee_add_parent_col_row_child_input {
    margin-bottom: 1rem;
}
.employee_add_parent_col_row_child_name {
    margin-bottom: 1.5rem;
    font-size: 1rem;
    font-weight: 600;
    color: black;
}
.pos_top_input {
    width: 100%;
}
.employee_edit_button {
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
}
.employee_edit_button_left {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
}
.employee_edit_button_right {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
}
.employee_add_parent_col_save {
    width: 100%;
    margin-bottom: 1rem;
    padding-bottom: 1rem;
}
