.registration {
    height: 100vh;
    width: 100%;
    overflow: hidden;
    position: relative;
    img{
        width: 100%;
        height: 100%;
    }
    &-content {
        position: absolute;
        top: 0;
        width: 100%;
        height: 100%;
        &-button-close {
            position: absolute;
            right: 30px;
            border: none;
            background-color: transparent;
            width: 20px;
            cursor: pointer;
            span {
                font-size: 20px;
                color: #ccc;
            }
        }
        &-container {
            position: relative;
            margin: 0 auto !important;
            text-align: center;
            width: 565px;
            padding-top: 30px;
        }
        &--logo {
            img {
                width: 100%;
                height: 50px;
            }
        }
        &--title {
            h2 {
                margin: 16px 0 0 0;
                font-weight: 500;
                font-size: 26px;
            }
            p {
                margin: 11px 0 0 0;
                font-size: 16px;
                line-height: 19px;
            }
        }
        &--form {
            margin-top: 24px;
        }
    }
}
.input {
    width: 100%!important;
    padding: 12px 10px 12px 19px !important;
    border-radius: 50px!important;
    border: 1px solid #d3d5d7!important;
}
.btn-registration {
    justify-content: center;
    margin-bottom: 16px;
    button {
        color: #fff;
        background: #2ad38b;
        border-radius: 45px;
        display: inline-block;
        margin-top: 8px;
        margin-bottom: 8px;
        font-size: 24px;
        height: 64px;
        line-height: 64px;
        padding: 0 44px;
        border: none;
        cursor: pointer;
        margin: 8px 0;
        &:hover {
            background-color: #0cceb0;
            color: #fff;
        }
    }
    &-sub-title {
        font-size: 14px;
        margin-bottom: 24px;
        justify-content: center;
    }
    &-sub-img {
        a {
            img {
                width: 100%;
            }
        }
    }
}
.checkbox-registration {
    align-items: center;
    margin-bottom: 8px; 
    font-size: 14px;
    text-align: start !important;
    a {
        color: #007bff;
        text-decoration: none;
        &:hover {
            text-decoration:underline;
        }
    }
}
.select {
    > div{
        height: 48px!important;
        border-radius: 50px!important;
        border: 1px solid #d3d5d7!important;
    }
}