.report{
  background: #fff;
  margin: 1em;
  padding: 1em;
  border-radius: 1.25em;
  

  &-header{
    border-bottom: 1px ;
    display: flex;
    justify-content: space-between;
    border-bottom: solid 1px #bdc3c7;
    margin-bottom: 20px;
    padding: 10px 0;
  }

  &-title{
    font-size: 20px;
    font-weight: 600;
  }

  &-statis{
    margin: 10px 20px;
    padding: 10px;
    font-size: 18px;
    font-weight: 600;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    border-radius: 8px;
  }
}