/* custom modal */
.ant-modal-content {
  border-radius: 12px !important;
  overflow: hidden !important;
}
/* custom modal */

/* custom select */
.ant-select-selector {
  border-radius: 5px !important;
}
/* custom select */

.br-15__date-picker {
  border-radius: 5px !important;
}

/* custom button */
.ant-btn {
  border-radius: 5px !important;
}
.br-15__button {
  border-radius: 5px !important;
}
/* custom button */

/* custom input */
.br-15__input {
  border-radius: 5px !important;
}
.ant-input {
  border-radius: 5px !important;
}
.ant-input-affix-wrapper {
  border-radius: 5px !important;
}

.ant-picker {
  border-radius: 5px !important;
}
/* custom input */

.ant-popover {
  z-index: 1500;
}
/* custom menu */
/* .ant-menu-title-content {
  color: black !important;
} */
.ant-menu-item-only-child {
  height: max-content !important;
  /* padding-left: 0 !important;
  padding-top: 10px !important; */
}
.ant-menu-submenu-vertical > .ant-menu-submenu-title {
  height: 60px !important;
}
/* custom menu */

.upload-variant-image > .ant-upload {
  width: 65px !important;
  height: 65px !important;
}

/* custom upload antd */

.ant-upload-select-picture-card {
  width: 85px !important;
  height: 85px !important;
}

.ant-upload-list-item-actions {
  display: flex !important;
  align-items: center !important;
}
.image-product .ant-upload-list-item-actions {
  opacity: 1 !important;
}

.ant-upload-list-item-info::before {
  left: 0 !important;
}

.image-product .ant-upload-list-item-info::before {
  opacity: 1 !important;
}

.ant-upload-list-picture-card-container {
  width: 85px !important;
  height: 85px !important;
}

.image-product .ant-upload-list-item-card-actions-btn {
  opacity: 1 !important;
}
/* custom upload antd */

/* custom tabs */
.ant-tabs-nav-wrap {
  padding-top: 5px;
}
/* custom tabs */

/* custom popover */
.ant-popover-arrow {
  display: none;
}
