.view_product {
  display: flex;
  flex-direction: column;
  margin: 1rem;
  padding: 1rem;
  background-color: white;
}
.card {
  box-shadow: 0 12px 23px 0 #5c37990a;
  border-radius: 1.25rem;
  border: 0 solid transparent;
  overflow: hidden;
}
