.inventory{
  margin: 1em;
  padding: 1em;
  background-color: #fff;
  border-radius: 1.25em;
}
@media screen and (max-width:768px) {
  .inventory{
    margin: 0;
    padding: 15px;
    border-radius: 0;
  }
}
