.role--add {
  display: flex;
  justify-content: flex-start;
  // align-items: center;
  width: 100%;
  // flex-direction: column;
}
.role--add > div {
  display: flex;
  justify-content: flex-start;
  // align-items: center;
  // flex-direction: column;
  width: 100%;
}
.role--add > div > div {
  display: flex;
  justify-content: flex-start;
  // align-items: center;
  width: 100%;
}
.card {
  box-shadow: 0 12px 23px 0 #5c37990a;
  border-radius: 1.25rem;
  border: 0 solid transparent;
  overflow: hidden;
}
