.card {
  box-shadow: 0 12px 23px 0 #5c37990a;
  border-radius: 1.25rem;
  border: 0 solid transparent;
  overflow: hidden;
}

.stock-adjustments {
  padding: 15px;
  background-color: white;
  margin: 1rem;
  padding: 1rem;
  min-height: 85vh;
}
