.product_check_add {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  margin: 1rem;
  background-color: white;
  padding: 1rem 1rem 0 1rem;
}
.product_check_add > div {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.card {
  box-shadow: 0 12px 23px 0 #5c37990a;
  border-radius: 1.25rem;
  border: 0 solid transparent;
  overflow: hidden;
}
