.supplier_manager {
  display: flex;
  background-color: white;
  padding: 1rem;
  margin: 1rem;
  flex-direction: column;
}
.supplier_manager_title {
  font-size: 1rem;
  color: black;
  display: flex;
  width: 100%;
  justify-content: flex-start;
  align-items: center;
  font-weight: 600;
}
.supplier_manager {
  margin: 1rem;
}
.card {
  box-shadow: 0 12px 23px 0 #5c37990a;
  border-radius: 1.25rem;
  border: 0 solid transparent;
  overflow: hidden;
}
@media only screen and (max-width: 320px) {
  .supplier_manager_select {
    display: flex;
    width: 100%;
    margin: 1rem 0;
    justify-content: space-between;
    align-items: center;
  }
  .supplier_manager_select_right {
    display: flex;
    width: 100%;
    justify-content: flex-end;
    align-items: center;
  }
  .supplier_manager_search {
    display: flex;
    margin-top: 1rem;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }
  .supplier_manager_search_left {
    margin-right: 1rem;
  }

  .supplier_manager_table_child {
    width: 100%;
  }
}
@media only screen and (max-width: 300px) {
  .supplier_manager_select {
    display: flex;
    width: 100%;
    margin: 1rem 0;
    justify-content: space-between;
    align-items: center;
  }
  .supplier_manager_select_right {
    display: flex;
    width: 100%;
    justify-content: flex-end;
    align-items: center;
  }
  .supplier_manager_search {
    display: flex;
    margin-top: 1rem;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }
  .supplier_manager_search_left {
    margin-right: 1rem;
  }

  .supplier_manager_table_child {
    width: 100%;
  }
}

@media only screen and (max-width: 380px) {
  .supplier_manager_select {
    display: flex;
    flex-direction: column;
    margin: 1rem 0 0 0;
    justify-content: center;
    align-items: center;
  }
  .supplier_manager_select_right {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: 1rem 6rem 1rem 0;
  }
  .supplier_manager_search {
    display: flex;
    margin-top: 1rem;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }
  .supplier_manager_search_left {
    margin-right: 1rem;
  }
  .supplier_manager_search_right {
    margin: 0rem 1.5rem 0 0;
  }

  .supplier_manager_table_child {
    width: 100%;
  }
}
@media only screen and (max-width: 576px) {
  .supplier_manager_select {
    display: flex;
    width: 100%;
    margin: 1rem 0;
    justify-content: space-between;
    align-items: center;
  }
  .supplier_manager_select_right {
    display: flex;
    width: 100%;
    justify-content: flex-end;
    align-items: center;
  }
  .supplier_manager_search {
    display: flex;
    margin-top: 1rem;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
  }
  .supplier_manager_search_left {
  }
  .supplier_manager_search_right {
    margin: 1rem 1.5rem 0 0;
  }

  .supplier_manager_table_child {
    width: 100%;
  }
}
@media only screen and (max-width: 768px) {
  .supplier_manager_select {
    display: flex;
    width: 100%;
    margin: 1rem 0;
    justify-content: space-between;
    align-items: center;
  }
  .supplier_manager_select_right {
    display: flex;
    width: 100%;
    justify-content: flex-end;
    align-items: center;
  }
  .supplier_manager_search {
    display: flex;
    margin-top: 1rem;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }
  .supplier_manager_search_left {
    margin-right: 1rem;
  }

  .supplier_manager_table_child {
    width: 100%;
  }
}
@media only screen and (max-width: 992px) {
  .supplier_manager_select {
    display: flex;
    width: 100%;
    margin: 1rem 0;
    justify-content: space-between;
    align-items: center;
  }
  .supplier_manager_select_right {
    display: flex;
    width: 100%;
    justify-content: flex-end;
    align-items: center;
  }
  .supplier_manager_search {
    display: flex;
    margin-top: 1rem;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }
  .supplier_manager_search_left {
    margin-right: 1rem;
  }

  .supplier_manager_table_child {
    width: 100%;
  }
}
@media only screen and (max-width: 1200px) {
  .supplier_manager_select {
    display: flex;
    width: 100%;
    margin: 1rem 0;
    justify-content: space-between;
    align-items: center;
  }
  .supplier_manager_select_right {
    display: flex;
    width: 100%;
    justify-content: flex-end;
    align-items: center;
  }
  .supplier_manager_search {
    display: flex;
    margin-top: 1rem;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }
  .supplier_manager_search_left {
    margin-right: 1rem;
  }

  .supplier_manager_table_child {
    width: 100%;
  }
}
@media only screen and (max-width: 1600px) {
  .supplier_manager_select {
    display: flex;
    width: 100%;
    margin: 1rem 0;
    justify-content: space-between;
    align-items: center;
  }
  .supplier_manager_select_right {
    display: flex;
    width: 100%;
    justify-content: flex-end;
    align-items: center;
  }
  .supplier_manager_search {
    display: flex;
    margin-top: 1rem;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }
  .supplier_manager_search_left {
    margin-right: 1rem;
  }

  .supplier_manager_table_child {
    width: 100%;
  }
}
.supplier_manager_search_delete {
  margin-top: 1rem;
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.product_view {
  color: #0a65ff;
  cursor: pointer;
}
.input_table {
  width: 80%;
}
