.shipping_manager {
  display: flex;
  margin: 1rem;
  background-color: white;
  padding: 1rem 1rem 1rem 1rem;
  flex-direction: column;
}

.shipping_manager_shipping_col_img {
  width: 8rem;
  height: 8rem;
  object-fit: contain;
}

.shipping_manager_shipping_col_parent {
  display: flex;
  justify-content: center;
  cursor: pointer;
  align-items: center;
  width: 12.5rem;
}

.shipping_manager_shipping_col_parent:hover {
  transform: scale(1.1);
}
.card {
  box-shadow: 0 12px 23px 0 #5c37990a;
  border-radius: 1.25rem;
  border: 0 solid transparent;
  overflow: hidden;
}
