.body_offer{
    background-color: white;
    padding: 20px 30px;
    margin: 15px 15px;
    border-radius: 5px;
}
.offer_header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 15px;
}
.offer_title{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.offer_list_text{
    font-size: 20px;
    padding-right: 10px;
}
.button_create_offer{
    background-color: #007bff;
    color: white;
}
.filter_offer{
    padding: 15px 0;
}
.delete_filter{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-bottom: 20px;
}
.columns{
    background-color: yellow;
}