.view_product {
    display: flex;
    flex-direction: column;
    margin: 1rem;
    padding: 0rem 1rem 1rem 1rem;
    background-color: white;
    justify-content: center;
    align-items: center;
}
.view_product_back {
    display: flex;
    cursor: pointer;
    width: 100%;
    justify-content: flex-start;
    align-items: center;
}
.view_product_back_title {
    font-size: 1rem;
    color: black;
    font-weight: 600;
    margin-left: 0.5rem;
}
.shadow {
    box-shadow: 1px 0px 5px 3px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 1px 0px 5px 3px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 1px 0px 5px 3px rgba(0, 0, 0, 0.3);
}
.view_product_table {
    display: flex;
    border: 1px solid rgb(223, 213, 213);
    max-width: 100%;
    background-color: white;
    overflow: auto;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
}
.view_product_table_child {
    width: 100%;
    background-color: white;
}
.view_product_search {
    display: flex;
    margin-top: 1rem;
    margin-bottom: 1rem;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
}
.view_product_button {
    display: flex;
    margin-top: 1rem;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
}
.warm td{
    background-color: rgb(247, 92, 92) !important;
}
