
.role_add {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 1rem 1rem 1rem 1rem;
}
.role_add_bottom_row_col_input_child {
    width: 100%;
}
.role_add_title_left > div {
    color: black;
    font-size: 1rem;
    font-weight: 600;
    margin-right: 0.5rem;
}
.role_add_title_left {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
}
.role_add_title_right_col {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
}
.role_add_title_right_child {
    width: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
.role_add_title_right {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    // width: 100%;
}
.role_add_title {
    display: flex;
    cursor: pointer;
    margin-bottom: 1rem;
    justify-content: space-between;
    // align-items: center;
    width: 100%;
}
.role_add_bottom_row_col_input {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
}
.role_add_bottom_row_col_title {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
}
.role_add_bottom_row_child {
    display: flex;
    justify-content: space-between;
    // align-items: center;
    width: 100%;
}
.role_add_bottom_row_col {
    width: 100%;
    // margin-bottom: 1rem;
}
.role_add_bottom_row {
    display: flex;
    // margin-top: 1rem;
    justify-content: space-between;
    // align-items: center;
    width: 100%;
}
.role_add_title_row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}
.role_add_title_row_col {
    width: 100%;
    // margin-bottom: 1rem;
}
.role_add_title_row_col_title_left {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    // margin-bottom: 1rem;
}
.role_add_title_row_col_button_right {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    // margin-bottom: 1rem;
}
.role_add_title_row_col_left {
    display: flex;
    cursor: pointer;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
}
.role_add_title_row_col_left > div {
    color: black;
    font-size: 1rem;
    margin-right: 0.5rem;
    font-weight: 600;
}
.role_add_title_row_col_button {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
}
.role_add_bottom {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    background-color: white;
    padding: 1rem 1rem 0 1rem;
}
.role_add_bottom_title {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    margin-bottom: 1rem;
    color: black;
    font-weight: 600;
}
.role_add_title_parent {
    display: flex;
    justify-content: space-between;
    align-content: center;
    width: 100%;
}
.role_add_title_parent_col {
    width: 100%;
    // margin-bottom: 1rem;
}
.role_add_title_parent_col_fix {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-content: center;
    // margin-bottom: 1rem;
}
.tree_checkbox {
    display: flex;
    justify-content: space-between;
    align-content: center;
    width: 100%;
    padding: 1rem 1rem 0rem 1rem;
    margin-top: 1rem;
    background-color: white;
}
.tree_checkbox_col {
    width: 100%;
    margin-bottom: 1rem;
}