.point{
    margin: 1em;
    padding: 1em;
    border-radius: 1.25em;

    .setting-box{
        background-color: #fff;
        border-radius: 1.25em;
        padding: 1em;
        height: 100%;
    }
}