.product_check_add {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    margin: 1rem;
}
.product_check_add > div {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.shipping {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    flex-direction: column;
}
.shipping > div {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
}
